* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    main {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .board-container {
            .board {
                border: 3px solid red;
                padding: 1px;

                .cell{
                    border: 1px solid black;
                    // padding: 10px 12px;
                    text-align: center;
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    line-height: 14px;

                    &:hover{
                        background-color: antiquewhite;
                    }
                }
            }
        }
    }

}